streamlit
numpy<2.0.0
pandas

opencv-python-headless

# Deep Learning
tensorflow
keras

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn

# PDF Generation
reportlab

# Utilities
gdown




