streamlit
numpy<2.0.0
pandas

opencv-python-headless

# Deep Learning
tensorflow==2.15.0
keras==2.15.0

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn

# PDF Generation
reportlab

# Utilities
gdown



