streamlit
numpy
pandas

# Computer Vision
opencv-python-headless

# Deep Learning
tensorflow
keras

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn

# PDF Generation
reportlab

# Utilities
gdown
